#title {
    color: blue;
}

body {
  background-image: linear-gradient(to right, white 0%, rgb(129, 150, 194) 100%)}

#output, #total, #rolls{
  min-height: 1.5em;
  margin-top: .75em;
}

#form-container {
    width: 50%;
    /* border: 2px solid black; */
    margin: 6.5em auto;
}
#clear {
  margin: auto;
}

/* .btn:hover {
  background-color: green;
} */

#form-container>* {
    text-align: center;
    width: 85%;
    margin: 1em auto;
}

#results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

#output {
  margin: auto; 
}
#outputDiv {
  height: 50px;
  width: 50px;
  margin-left: 2em;
}

#rollContainer {
  margin: auto;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 3.5em;
}

#total {
  margin: 1em auto;
  text-align: center;
}

@media only screen and (max-width: 450px) {
  #form-container {
    width: 90%;
  }

}