#title {
    color: blue;
}

body {
  background-image: linear-gradient(to right, white 0%, rgb(129, 150, 194) 100%)}

#output, #total, #rolls{
  min-height: 1.5em;
  margin-top: .75em;
}

#form-container {
    width: 50%;
    /* border: 2px solid black; */
    margin: 6.5em auto;
}

/* .btn:hover {
  background-color: green;
} */

#form-container>* {
    text-align: center;
    width: 75%;
    margin: 1em auto;
}

#results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

#output {
  margin-left: 1em;
}

#rollContainer {
  display: flex;
  flex-direction: row;
}

#total {
  margin: 1em auto;
  text-align: center;
}

@media only screen and (max-width: 450px) {
  #form-container {
    width: 90%;
  }
}